div.container{
    border: 1px solid #000;
    width: 300px;
}

div.container > div {
    direction:rtl;
    height: 20px;
    margin: 1px;
    color: white;
    font-weight: bold;
    background-color: steelblue;
}